{% extends 'base.html' %}
{% block content %}

{% if ticker %}
	{{ ticker }}
{% endif %}

{% if api %}
	{% if api == "Error..." %}
		There was a problem with your tricker symbol
		please try again ...
	{% else %}
		<h1>{{ api.companyName }}</h1><br/>
		Price: {{ api.latestPrice }}<br/>
		Previos Close:{{ api.previousClose }}<br/>
		Market Cap: {{ api.marketCap }}<br/>
		YTD Change: {{ api.ytdChange }}<br/>
		52W High: {{ api.week52High }}<br/>
		52W Low: {{ api.week52Low }}<br/>



		<!-- {% for key, value in api.items %}
			{{ key }}:{{ value }} <br/>
		{% endfor %}
 -->
	{% endif %}
		
{% else %}

{% endif %}


{% endblock %}